{% extends 'base.html.twig' %}

{% block title %} Panell de control {% endblock %}

{% block header %}
    <div>
        <a href="{{ path('logout') }}">tancar sessió</a>
    </div>
{% endblock %}

{% block body %}

{{ dump(app.user) }}

{% endblock %}
