{% extends 'base.html.twig' %}

{% block title %}Escamot{% endblock %}

{% block body %}


<!--
<section class="module" data-module="homeSlider">
-->
 <div class="swiper mySwiper" data-module="homeSlider">
      <div class="swiper-wrapper" >
        <div class="swiper-slide">
          <div class="catalunya">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="manifest" data-swiper-parallax-scale="0.15" data-swiper-parallax-opacity="0.5" data-swiper-parallax-duration="1500">
                    {{ LatestUpdate | raw }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" style="background-color:grey"> 
          <div class="inset">
            <div data-swiper-parallax-x="-500" data-swiper-parallax-duration="1500">Slide 2</div>
            <div class="title" data-swiper-parallax-x="-100" data-swiper-parallax-duration="1500">Slide 1</div>
            <div data-swiper-parallax-opacity="0.5" data-swiper-parallax-duration="1500">I will change opacity</div>
            <div data-swiper-parallax-scale="0.15" data-swiper-parallax-duration="1500">I will change scale</div>
          </div>
        </div>
        <div class="swiper-slide" style="background-color:brown">Slide 3</div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!--
</section>
-->
{% endblock %}
