{% extends 'base.html.twig' %}

{% block title %} Entrar {% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    
    
    <section class="Login" data-module="form">
        <div class="container text-center">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 ">
                    <div class="inset">
                        <h1 class="title"> Accedeix </h1>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form action="{{ path('app_login') }}" method="post">
                            <!-- Email input -->
                            <div class="form-group row mb-4">
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
                                <label class="form-label" for="username">Correu electrònic</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-group row mb-3">
                                <input class="form-control" type="password" id="password" name="_password">
                                <label class="form-label" for="password">Contrasenya</label>
                            </div>

                            
                            <div class="row">
                            <!-- Submit button -->
                                <button type="submit" class="btn btn-dark btn-block mb-4">Accedir</button>
                            </div>
                            <!-- 2 column grid layout for inline styling -->
                            <div class="row mb-4">
                                <div class="col">
                                <!-- Simple link -->
                                <a href="#!">No recordes la contrasenya?</a>
                                </div>
                            </div>
                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>No tens compte d'usuari? <a href="{{ path('registration') }}">Registra't</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>   
 

{% endblock %}