@font-face {
    font-family: 'Fjalla-One';
    src: url('FjallaOne-Regular.eot');
    src: local('Fjalla One'), local('FjallaOne-Regular'), url('FjallaOne-Regular.eot?#iefix') format('embedded-opentype'), url('FjallaOne-Regular.woff2') format('woff2'), url('FjallaOne-Regular.woff') format('woff'), url('FjallaOne-Regular.svg#FjallaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coco-sharp-bold';
    src: url('CocoSharpBold.eot');
    src: local('CocoSharpBold'), local('CocoSharpBold'), url('CocoSharpBold.eot?#iefix') format('embedded-opentype'), url('CocoSharpBold.woff2') format('woff2'), url('CocoSharpBold.ttf') format("truetype"), url('CocoSharpBold.woff') format('woff'), url('CocoSharpBold.svg#FjallaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}